<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/customer">Customer List</a>
<form th:action="@{/edit}" th:object="${customer}" method="post">
    <input type="hidden" name="id" th:field="*{id}">
<table>
    <tr>
        <td>First Name:</td>
        <td><input type="text" name="firstName" th:field="*{firstName}"></td>
    </tr>
    <tr>
        <td>Last Name:</td>
        <td><input type="text" name="lastName" th:field="*{lastName}"></td>
    </tr>
    <tr>
        <td>Province:</td>
        <td><input type="text" name="province" th:field="*{province}"></td>
    </tr>
    <tr>
        <td><input type="submit" value="Save"></td>
    </tr>
</table>
</form>
</body>
</html>