<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .abc{
        border-color:aqua;
    }

</style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/customer">Customer</a>
<h1>Customer Search Province</h1>
<table class="abc" border="1">

    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td> Province</td>
        <td> Edit</td>
        <td>Delete</td>
    </tr>
    <th:block th:each="customer : ${customers}">
        <tr>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.province}"></td>
            <td ><a th:href="@{/edit-customer/${customer.id}}">Edit</a></td>
            <td><a th:href="@{/delete-customer/${customer.id}}">Delete</a></td>
        </tr>
    </th:block>

</table>
</body>
</html>